# ASP.NET Core
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# Build results
[Bb]in/
[Oo]bj/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# AppSettings (User requested to ignore)
appsettings.json
appsettings.Development.json
